In [1]:
import pandas as pd 
import math 
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
import numpy as np
import datetime as dt
%matplotlib inline

In [2]:
df1 = pd.read_csv('csv/nvidia.csv')
df1.head()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,NVDA,2016-04-18 00:00:00+00:00,36.97,37.06,36.610,37.06,7683044,36.296506,36.384867,35.943065,36.384867,7683044,0.0,1.0
1,NVDA,2016-04-19 00:00:00+00:00,36.31,37.18,36.080,37.11,7728777,35.648530,36.502681,35.422720,36.433956,7728777,0.0,1.0
2,NVDA,2016-04-20 00:00:00+00:00,36.45,36.67,36.210,36.25,5004434,35.785979,36.001971,35.550351,35.589623,5004434,0.0,1.0
3,NVDA,2016-04-21 00:00:00+00:00,36.41,36.63,36.250,36.46,4456989,35.746708,35.962700,35.589623,35.795797,4456989,0.0,1.0
4,NVDA,2016-04-22 00:00:00+00:00,36.27,36.78,36.145,36.53,5588539,35.609258,36.109968,35.486536,35.864522,5588539,0.0,1.0

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symbol       1259 non-null   object
 1   date         1259 non-null   object
 2   close        1259 non-null   float64
 3   high         1259 non-null   float64
 4   low          1259 non-null   float64
 5   open         1259 non-null   float64
 6   volume       1259 non-null   int64
 7   adjClose     1259 non-null   float64
 8   adjHigh      1259 non-null   float64
 9   adjLow       1259 non-null   float64
 10  adjOpen      1259 non-null   float64
 11  adjVolume    1259 non-null   int64
 12  divCash      1259 non-null   float64
 13  splitFactor  1259 non-null   float64
dtypes: float64(10), int64(2), object(2)
memory usage: 137.8+ KB

In [4]:
df1['date'] = pd.to_datetime(df1['date'])
df1.set_index('date', inplace = True)
df1.head()

,symbol,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,,
2016-04-18 00:00:00+00:00,NVDA,36.97,37.06,36.610,37.06,7683044,36.296506,36.384867,35.943065,36.384867,7683044,0.0,1.0
2016-04-19 00:00:00+00:00,NVDA,36.31,37.18,36.080,37.11,7728777,35.648530,36.502681,35.422720,36.433956,7728777,0.0,1.0
2016-04-20 00:00:00+00:00,NVDA,36.45,36.67,36.210,36.25,5004434,35.785979,36.001971,35.550351,35.589623,5004434,0.0,1.0
2016-04-21 00:00:00+00:00,NVDA,36.41,36.63,36.250,36.46,4456989,35.746708,35.962700,35.589623,35.795797,4456989,0.0,1.0
2016-04-22 00:00:00+00:00,NVDA,36.27,36.78,36.145,36.53,5588539,35.609258,36.109968,35.486536,35.864522,5588539,0.0,1.0

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2016-04-18 00:00:00+00:00 to 2021-04-16 00:00:00+00:00
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symbol       1259 non-null   object
 1   close        1259 non-null   float64
 2   high         1259 non-null   float64
 3   low          1259 non-null   float64
 4   open         1259 non-null   float64
 5   volume       1259 non-null   int64
 6   adjClose     1259 non-null   float64
 7   adjHigh      1259 non-null   float64
 8   adjLow       1259 non-null   float64
 9   adjOpen      1259 non-null   float64
 10  adjVolume    1259 non-null   int64
 11  divCash      1259 non-null   float64
 12  splitFactor  1259 non-null   float64
dtypes: float64(10), int64(2), object(1)
memory usage: 137.7+ KB

In [6]:
days = (df1.index[-1] - df1.index[0]).days
cagr = ((((df1['adjClose'][-1] /  df1['adjClose'][1])) ** (365/days)) -1)

In [7]:
df1['returns'] = df1['adjClose'].pct_change()  
volatility = df1['returns'].std()*math.sqrt(252)

In [8]:
print('CAGR=',str(round(cagr,4)*100)+"%")
print('Annual Volatility =',str(round(volatility,4)*100)+"%")

CAGR= 78.03%
Annual Volatility = 48.1%

In [ ]:
plt.figure(figsize = (10,6))
result = []


#Define Variables 
S  = df1['adjClose'][-1] #Starting stock which is the last know stock price. 
T = 252 #Number of trading days in the year 
Mu = cagr
vol = volatility 
iterations = 1000 #Number of simulations


for i in range(iterations): 
    daily_returns = np.random.normal(Mu/T, vol/math.sqrt(T), T) + 1
    price_list = [S]
    
    for x in daily_returns:
        price_list.append(price_list[-1]*x)
        
        plt.plot(price_list)
        result.append(price_list[-1])

plt.show()

#histogram to show distribution of results
plt.hist(result, bins=100)
plt.show()